.body{width: 1000px;margin: auto;border: 1px solid gray;border-radius: 5px;margin-top: 110px;box-shadow: 0px 0px 5px 1px #000;margin-bottom: 50px;}
.body.span6
{
	float: left !important;
	width: 45% !important;
	margin: 37px !important;
	border:none !important;
}
.saisie_fiche select
{
	float: left !important;
	width: 90px !important;
	margin-right: 15px !important;
}
.saisie_fiche label
{
	width: 220px !important;
}
.saisie_fiche .label.label-danger,
.saisie_fiche .label.label-success
{
	font-size:100% !important;
	display: block !important;
	margin: 8px !important;
}
.saisie_fiche form .item textarea,
.saisie_fiche form .item input
{
	margin-bottom: 10px !important;
	width: 300px !important;
}
.saisie_fiche .formulaire
{
	width: 43%;
	float:left;

}
.saisie_fiche .image_fiche
{
	float: left;
	border-left: 3px dashed black;
	margin-top: -16px;
	padding-top: 28px;
}
.saisie_fiche .image_fiche .fiche_principale
{
	width:714px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
{
	background-color: #bd0066 !important;
}
.saisie_fiche .nav-pills
{
	margin-top: 14px;
	margin-right: 46px;
}
.saisie_fiche .menu_principal form .btn-default
{
	margin: 0px !important;
}
.saisie_fiche form.navbar-form.navbar-left
{
	position: absolute;
	margin-left: 20px;
	margin-top: 16px;
	left: 590px;
}
.saisie_fiche form.navbar-form.navbar-left input
{
	width:240px;
}
.saisie_fiche .menu_principal .alert.alert-danger,
.saisie_fiche .menu_principal .alert.alert-success
{
	width: 310px;
	margin-left: 80px;
	float: left;
	margin-top: 8px;
}
#connexion-form{margin-top: 50px;clear: both;}
#connexion-form .form-control{width:90%;}
.menu_principal {width: 100%;float: left;clear: both;border-bottom: 1px solid gray;margin-bottom: 16px;}
.menu_principal img {float: left; position:relative;}
.menu_principal h2 {float: left;margin-left: 30px;}
#connexion-form .alert-danger {width: 98%;margin: auto;margin-bottom: 10px;}
#inscription .alert-success {clear:both;width: 98%;margin: auto;margin-bottom: 10px;}

form .item {width: 100%;float: left;}
form .item label {display: block;float: left;width: 300px;line-height: 40px;padding-left: 30px;}
form .item input,form .item textarea,form .item select {float: left;width: 500px;}
form .item textarea{margin-bottom:10px;width: 650px;}
form .item .grid_2{margin-right:10px;float: left;width:100px;}
form .item .grid_2 label {width: 50px;line-height: 21px;}
form .item .radio,form .item .checkbox{padding-left: 0px;}
form .btn-default {margin-left: 300px;margin-bottom: 10px;}
