<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Scan Butagaz - {% endblock %}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Scan Butagaz" />
    <meta name="content" content="Scan Butagaz" />
    <link rel="shortcut icon" href="{{ asset('bundles/scanbutagaz/img/favicon.png') }}" />
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/scanbutagaz/css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/scanbutagaz/css/jquery.jqzoom.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/scanbutagaz/css/master.css') }}" type="text/css" media="screen" />
    {% endblock %}
    
    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/scanbutagaz/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/scanbutagaz/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/scanbutagaz/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/scanbutagaz/js/jquery.jqzoom-core.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/scanbutagaz/js/master.js') }}"></script>
    {% endblock %}

</head>
<body>
    {% block header %}
    <!--header-->
    <header>
        <div class="wrap clearfix">

        </div>
    </header>
    <!--//header-->
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}
        <!--footer-->
    <footer>
        <div class="wrap clearfix">
            
        </div>
    </footer>
    <!--//footer--> 
    {% endblock %}

</body>
</html>