{% extends 'ScanButagazBundle::LayoutScanBundle.html.twig' %}

{% block title %}
    {{ parent() }} - Page de d'acceuil
{% endblock %}

{% block header %}
 	{{ parent() }}
{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row-fluid saisie_fiche">
		{% include 'ScanButagazBundle::Menu.html.twig' %}
		<div class="formulaire" >
			<div class="container-fluid wrapper" >
		  		<form id="inscription" class="form-signin" method="post" accept-charset="utf-8" {{ form_enctype(form) }}>
					<div class="item {% if form.facture.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.facture ,"Contrat :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.facture , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.civilite.vars.errors|length %}has-error form-group{% endif %}">
		                {{ form_label(form.civilite ,"Civilité* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		                {{ form_widget(form.civilite , { 'attr': {'class': 'form-control'} } ) }}
		            </div>
		  			<div class="item {% if form.nom.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.nom ,"Nom* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.nom , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.prenom.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.prenom ,"Prénom* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.prenom , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.adresse.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.adresse ,"Adresse :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.adresse , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.codePostal.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.codePostal ,"Code postal :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.codePostal , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.tel.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.tel ,"Tél :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.tel , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.ville.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.ville ,"Ville :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.ville , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.dateConsignation.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.dateConsignation ,"Date de consignation* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.dateConsignation , { 'attr': {'class': 'form-control auto-date'} } ) }}
		  			</div>
		  			<div class="item {% if form.dateDeconsignation.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.dateDeconsignation ,"Date de déconsignation* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.dateDeconsignation , { 'attr': {'class': 'form-control auto-date'} } ) }}
		  			</div>
		  			<div class="item {% if form.enseigne.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.enseigne ,"Enseigne* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.enseigne , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			<div class="item {% if form.numeroIdentite.vars.errors|length %}has-error form-group{% endif %}">
		  				{{ form_label(form.numeroIdentite ,"Numéro d'identité* :", { 'label_attr': {'class': 'form_label grid_5 first control-label'} } ) }}
		  				{{ form_widget(form.numeroIdentite , { 'attr': {'class': 'form-control'} } ) }}
		  			</div>
		  			{{ form_rest(form) }}
					<button type="submit" class="btn btn-default">Fiche suivante</button>
				</form>

				


				{% if form.facture.vars.errors|length %}<div class="label label-danger">Facture  : {{ form_errors(form.facture) }}</div>{% endif %}
				{% if form.civilite.vars.errors|length %}<div class="label label-danger">Civilité : {{ form_errors(form.civilite) }}</div>{% endif %}
				{% if form.nom.vars.errors|length %}<div class="label label-danger">Nom : {{ form_errors(form.nom) }}</div>{% endif %}
				{% if form.prenom.vars.errors|length %}<div class="label label-danger">Prenom : {{ form_errors(form.prenom) }}</div>{% endif %}
				{% if form.adresse.vars.errors|length %}<div class="label label-danger">Adresse : {{ form_errors(form.adresse) }}</div>{% endif %}
				{% if form.codePostal.vars.errors|length %}<div class="label label-danger">Code postal : {{ form_errors(form.codePostal) }}</div>{% endif %}
				{% if form.tel.vars.errors|length %}<div class="label label-danger">Télephone : {{ form_errors(form.tel) }}</div>{% endif %}
				{% if form.ville.vars.errors|length %}<div class="label label-danger">Ville : {{ form_errors(form.ville) }}</div>{% endif %}
				{% if form.dateConsignation.vars.errors|length %}
					<div class="label label-danger">Date de consignation : {{ form_errors(form.dateConsignation) }}</div>
				{% endif %}
				{% if form.dateDeconsignation.vars.errors|length %}
					<div class="label label-danger">Date de déconsignation : {{ form_errors(form.dateDeconsignation) }}</div>
				{% endif %}
				{% if form.enseigne.vars.errors|length %}<div class="label label-danger">Enseigne : {{ form_errors(form.enseigne) }}</div>{% endif %}
				{% if form.numeroIdentite.vars.errors|length %}<div class="label label-danger">Numéro d'identité : {{ form_errors(form.numeroIdentite) }}</div>{% endif %}
				
			</div>
		</div>
		<div class="image_fiche">
			{% if mFiche == false %}
				<h2>Toute les fiches ont été traitées.</h2>
			{% else %}
				<a href="{{ mFiche }}"><img src="{{ mFiche }}" title="" alt="" class="fiche_principale" /></a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}