{% extends 'ScanButagazBundle::LayoutScanBundle.html.twig' %}

{% block title %}
    {{ parent() }} - Page de d'acceuil
{% endblock %}

{% block header %}
 	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid wrapper body" >
		<div class="menu_principal">
			<img src="{{ asset('bundles/scanbutagaz/img/logo.gif') }}" title="Neo-Data"/>
			<h2>Authentification</h2>
		</div>
		<form class="form-horizontal" role="form" id="connexion-form" method="post" autocomplete="off" action="{{ path('scan_butagaz_login_check') }}" >
			{% if erreur %}
			    <div class="alert alert-danger">
			    	<button type="button" class="close" data-dismiss="alert">&times;</button>
					<p>Oops ! un erreur est survenu ,<br /> veuillez bien saisir votre nom d'utilisateur et mot de passe .</p>
				</div>
			{% endif %}
			<div class="form-group">
				<label for="inputEmail1" class="col-lg-2 control-label">Utilisateur</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputEmail1" name="_username" placeholder="Utilisateur" value="{{ derniere_username }}" />
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword1" class="col-lg-2 control-label">Mot de passe</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" name="_password" id="inputPassword1" placeholder="Mot de passe">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default">Valider</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}