{% extends 'ScanButagazBundle::LayoutScanBundle.html.twig' %}

{% block title %}
    {{ parent() }} - Page de d'acceuil
{% endblock %}

{% block header %}
 	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid wrapper body" >
		<div class="menu_principal">
			<img src="{{ asset('bundles/scanbutagaz/img/logo.gif') }}" title="Neo-Data"/>
			<h2>Inscription</h2>
		</div>
	  		<form id="inscription" class="form-signin" method="post" autocomplete="off" accept-charset="utf-8" {{ form_enctype(form) }}>
		  		{% if app.session.flashbag.get('inscription_terminer') %}
				    <div class="alert alert-success">
				    	<button type="button" class="close" data-dismiss="alert">&times;</button>
						<p>Félicitation ,<br /> Votre compte a été créer.</p>
					</div>
				{% endif %}
	  			<div class="item">
                    {{ form_label(form.civilite ,"Civilité* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
                    {{ form_widget(form.civilite , { 'attr': {'class': 'form-control'} } ) }}
                    {{ form_errors(form.civilite) }}
                </div>
	  			<div class="item">
	  				{{ form_label(form.nom ,"Nom* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.nom , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.nom) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.prenom ,"Prénom* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.prenom , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.prenom) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.adresse ,"Adresse :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.adresse , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.adresse) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.tel ,"Tél :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.tel , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.tel) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.code_postal ,"Code postal :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.code_postal , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.code_postal) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.email ,"E-mail* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.email , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.email) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.username ,"Nom d'Utilisateur* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.username , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.username) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.password ,"Mot de passe* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.password , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.password) }}
	  			</div>
	  			<div class="item">
	  				{{ form_label(form.roles ,"Role* :", { 'label_attr': {'class': 'form_label grid_5 first'} } ) }}
	  				{{ form_widget(form.roles , { 'attr': {'class': 'form-control'} } ) }}
	                {{ form_errors(form.roles) }}
	  			</div>
	  			{{ form_rest(form) }}
				<button type="submit" class="btn btn-default">Valider</button>
			</form>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}