<div class="menu_principal">
	<img src="{{ asset('bundles/scanbutagaz/img/logo.gif') }}" title="Neo-Data"/>
	{% if app.session.flashbag.has('recherche_image_introuvable') %}
		{% for flashMessage in app.session.flashbag.get('recherche_image_introuvable') %}
			<div class="alert alert-danger">{{ flashMessage }}</div>
		{% endfor %}
	{% endif %}
	{% if app.session.flashbag.has('recherche_trouver') %}
		{% for flashMessage in app.session.flashbag.get('recherche_trouver') %}
			<div class="alert alert-success">{{ flashMessage }}</div>
		{% endfor %}
	{% endif %}
	{% if app.session.flashbag.has('fiche_enregistre') %}
		{% for flashMessage in app.session.flashbag.get('fiche_enregistre') %}
			<span class="alert alert-success">{{ flashMessage }}</span>
		{% endfor %}
	{% endif %}
	{% if app.session.flashbag.has('fiche_modifier') %}
		{% for flashMessage in app.session.flashbag.get('fiche_modifier') %}
			<span class="alert alert-success">{{ flashMessage }}</span>
		{% endfor %}
	{% endif %}
	<form class="navbar-form navbar-left" role="search" method="post" action="{{ path('scan_butagaz_modifier') }}">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Numéro du contrat" name="fiche_recherche">
		</div>
		<button type="submit" class="btn btn-default">Rechercher une fiche</button>
	</form>
	<ul class="nav nav-pills navbar-right">
		<li class="active"><a href="{{ path('scan_butagaz_homepage') }}">Saisir une fiche</a></li>
		<li><a href="{{ path('scan_butagaz_logout') }}">Déconnexion</a></li>
	</ul>
</div>